Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-avoid-goto,
  cppcoreguidelines-avoid-non-const-global-variables,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-no-malloc,
  cppcoreguidelines-owning-memory,
  misc-const-correctness,
  misc-use-anonymous-namespace,
  modernize-use-nullptr,
  performance-*,
  portability-*
WarningsAsErrors: '*'
HeaderFilterRegex: '(.*/neocortex/src/(core|log|mmr|proj|seal|sim)/.*|.*/neocortex/src/schema/events[.]h)'
FormatStyle: none
