# React Router
.react-router
build/
public/build/

# Wrangler & Cloudflare
.wrangler
wrangler.toml.local
.env
.env.local
vars.json

# Node modules & dependencies
node_modules/
.npm
.yarn
.pnp*
.yarn-integrity

# Vite
dist/
dist-ssr/
*.local

# OS & Environment Files
.DS_Store
Thumbs.db

# TypeScript / Logs
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
error.log

